### First thing first import modules and data

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.dates as mdates

In [2]:
df = pd.read_csv('house_prices.csv')
df = df.dropna(thresh=48)

#### First graph to see the most expensive and cheap states

In [3]:
# Get the median listing price columns 
prices = df.columns[6:]

In [4]:
# Calculate the average listing price and the variance over the time period
df['average_price'] = np.nanmean(df[prices], axis = 1)
df['price_variance'] = np.nanvar(df[prices], axis = 1)
df['size'] = df.shape[0] - df['SizeRank'] # Reverse code the size rank so larger number = larger size

In [5]:
df[['RegionName', 'State', 'average_price']].nlargest(10, 'average_price')

           RegionName State  average_price
8494           Zwolle    LA   1.076809e+07
9805   Jupiter Island    FL   3.871083e+06
4430         Atherton    CA   3.328369e+06
8397    Rolling Hills    CA   3.323068e+06
3349     Hillsborough    CA   3.262936e+06
9364       Water Mill    NY   3.050982e+06
5941   Portola Valley    CA   2.991975e+06
4242  Los Altos Hills    CA   2.543581e+06
7837        Belvedere    CA   2.330984e+06
7357  Rancho Santa Fe    CA   2.208226e+06

In [6]:
df[['RegionName', 'State', 'average_price']].nsmallest(10, 'average_price')

           RegionName State  average_price
5246           Wewoka    OK   29806.425703
5318       Shenandoah    PA   31032.307692
5944     Mahanoy City    PA   31087.692308
9773          Waurika    OK   33028.326180
8942      Girardville    PA   33420.080321
7046          Ashland    PA   35246.586345
4841  Century Village    FL   37081.526104
8944           Rankin    PA   37457.939914
6787        Homestead    PA   37760.515021
7470         Braddock    PA   37814.859438